.terminal-container {
    height: 100%;
    user-select: text;
    border-radius: 0.2rem;
    overflow: hidden;
    padding: 2px;
    background-color: rgb(33, 33, 33);

}

.terminal-container div[name='react-console-emulator'] {
    height: 100%;
}

.terminal-container input[name='react-console-emulator__input'] {
    width: unset !important;
}


.terminal-container div[name='react-console-emulator__content'] {
    height: unset !important;
}