.app-window{
  position: fixed;
  background-color: var(--color-gray);
  border: 1px solid #8a8a8a49;
  border-radius: 0.8rem;
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.589), 0 22px 60px 4px rgba(0, 0, 0, 0.473), 0 0 0 1px rgba(0, 0, 0, 0.0);
  resize: both;
  overflow: auto;
  will-change: width, height;
  
  z-index: 1;
  top: 20%;
  left: 30%;
}

.app-window.minimized{
  min-width:0 !important;
  min-height: 0 !important;
  width: 0px !important;
  height: 0px !important;
  top: 100% !important;
  left: 50% !important;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1000 !important;
  
  transition: all 0.5s linear, opacity 0.7s linear;
}


.window-fullscreen{
  top: var(--offset-top) !important;   /* dynamic */
  left: var(--offset-left) !important;   /* dynamic */
  height: 100% !important;
  width: 100% !important;
}

.app-window::-webkit-resizer{
  cursor: pointer;
  background-color: transparent;
  /* cursor: var(--resize); */
}

.app-window:focus{
  outline: none;
  animation: windowFocusAnimation 0.6s ease-in-out;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.438), 5px 25px 40px 10px rgba(0, 0, 0, 0.548), 0 0 0 1px rgba(0, 0, 0, 0.0);
}

@-webkit-keyframes windowFocusAnimation { 
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% { 
    transform: rotate(0px);
  } 
}

.titlebar-container{
  display: flex;
  padding-inline: 0.8rem;
  padding-block: 0.4rem;
}

.toolbar-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
  cursor: var(--pointer);

}

.toolbar-btn {
  width: 0.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: transform 0.2s;

  position: relative;
}

.app-window:not(:focus) .toolbar-btn{
  background-color: var(--color-inactive) !important;
  border-color: var(--color-inactive-border) !important;
}


.toolbar-btn::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.3s;
}

.toolbar-section:hover .toolbar-btn::before{
  opacity: 0.6;
}

.toolbar-section:hover .toolbar-btn{
  transform: scale(1.1);
}

#btn-close{
  background-color: var(--color-red);
  border: 1px solid rgb(211 1 22);
}

#btn-close::before{
  background-image: url('https://www.svgrepo.com/show/353085/dot-single.svg');
  width: 150%;
  height: 150%;
}

#btn-min{
  background-color: var(--color-yellow);
  border: 1px solid #e4cc2d;
}

#btn-min::before{
  background-color: black;
  width: 50%;
  height: 13%;
  }

#btn-expand{
  background-color: var(--color-green);
  border: 1px solid #3fc04b;
}

#btn-expand::before{
  background-image: url('@assets/images/expand.png');
  width: 50%;
  height: 50%;
  filter: invert(100%);

}

.draggable-container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
}