#app{
    height: 100%;
}

#desktop-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("@images/wallpapers/wp2.webp");
    background-position: center;
    background-size: cover;
    user-select: none;
}

#lock-screen{
    display: flex;
    /* align-items: center; */
    user-select: none;
    justify-content: center;
    height: 100%;
    background-image: url("@images/wallpapers/lock-wp3.jpg");
    background-position: center;
    background-size: cover !important;
}

#lock-screen::before{
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(0);
    transition: backdrop-filter 0.8s linear ;
}

.blur-lock-screen::before {
    filter: brightness(60%);
    backdrop-filter: blur(8px) !important;
}

.lock-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 2.5rem;
    z-index: 0;
    color: var(--color-gray);
}

.lock-prompt-inactive{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.lock-inactive-profile{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    /* cursor: var(--pointer); */
}

.lock-inactive-img-container{
    cursor: var(--pointer);
}

.lock-inactive-profile img{
    height: 5rem;
    aspect-ratio: 1;
}

.lock-greet{
    font-size: 1.3rem;
    text-align: center;
}

.lock-cancel{
    height: 3rem;
    aspect-ratio: 1;
    /* background-image: url("@images/wallpapers/wp2.webp"); */
}

.lock-datetime-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
    text-shadow: 1px 1px 4px rgb(35 35 35 / 55%)
    
}

.lock-datetime-container .lock-date{
    font-weight: 500;
    font-size: 1.9rem;
}

.lock-time-container{
    width: 100%;
    container-type: inline-size;
    text-align: center;
}

.lock-time-container .lock-time{
    font-weight: 600;
    font-size: 36cqw;
}

.lock-profile-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.lock-profile-container img{
    height: 13rem;
    aspect-ratio: 1;
}

.lock-profile-container .lock-name{
    font-size: 1.6rem;
    text-shadow: 1px 1px 1px rgb(35 35 35);

}