:root {
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */

  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  cursor: url('@images/cursors/cursor.svg') 5 5, default;
  --pointer: url('@images/cursors/pointinghand.svg') 10 10, pointer;
  --resize: url('@images/cursors/resize.webp'), nw-resize;
  --radius-primary: 0.5rem;
}

:root,
:root.light {
  --color-red: rgb(255, 59, 48);
  --color-gray: rgb(242, 242, 247);
  --color-yellow: rgb(255, 204, 0);
  --color-green: rgb(40, 205, 65);
  --color-blue: rgb(0, 122, 255);

  --primary-text-color: rgb(20, 20, 21);
  --primary-highlight-color: var(--color-blue);
  --primary-divider-color: rgba(11, 11, 11, 0.15);
  
  --fade-highlight-bg: rgba(255, 255, 255, 0.337);
  --color-inactive: rgb(182, 182, 183);
  --color-inactive-border: rgb(148, 148, 148);
}

:root.blue {
  --color-red: rgb(215, 0, 21);
  /* Change others below */
  --color-gray: rgb(28, 28, 30);
  --color-yellow: rgb(255, 214, 10);
  --color-green: rgb(50, 215, 75);
  --color-blue: rgb(10, 132, 255);
}

:root.dark {
  --color-red: rgb(255, 69, 58);
  --color-gray: rgb(28, 28, 30);
  --color-yellow: rgb(255, 214, 10);
  --color-green: rgb(50, 215, 75);
  --color-blue: rgb(10, 132, 255);
  
  --primary-text-color: rgb(242, 242, 247);
  --primary-highlight-color: var(--color-blue);
  --primary-divider-color: rgba(235, 235, 235, 0.18);
  
  --fade-highlight-bg: rgb(48, 48, 48, 0.3);
  --color-inactive: rgb(182, 182, 183);
  --color-inactive-border: rgb(148, 148, 148);
}

html, body {
  all: unset;
  height: 100%;
  font-family: 'SF Pro';
  color: var(--primary-text-color,);
  overflow: hidden;
  display: block;
}

img{
  pointer-events: none;
}

.cursor-pointer, button, a {
  cursor: url('@images/cursors/pointinghand.svg'), pointer;
}

input {
  cursor: url('@images/cursors/input_cursor.svg'), text;
}